<a href="https://colab.research.google.com/github/vinthegreat84/ML-Lab/blob/main/10_Gradient_boosting_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import matplotlib.pyplot as plt

In [38]:
# load the data
link = 'http://bit.ly/piopetro-data1'
data = pd.read_csv(link)
data.head()

,DATEPRD,NPD_WELL_BORE_NAME,ON_STREAM_HRS,AVG_DOWNHOLE_PRESSURE,AVG_DOWNHOLE_TEMPERATURE,AVG_DP_TUBING,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,BORE_OIL_VOL,BORE_GAS_VOL,BORE_WAT_VOL,BORE_WI_VOL,FLOW_KIND
0,07-Apr-14,15/9-F-1 C,0.0,0.000,0.000,0.000,0.0,0.00000,0.000,0.00,0.000,0.0,0.0,0.0,NaN,production
1,08-Apr-14,15/9-F-1 C,0.0,NaN,NaN,NaN,0.0,1.00306,0.000,0.00,0.000,0.0,0.0,0.0,NaN,production
2,09-Apr-14,15/9-F-1 C,0.0,NaN,NaN,NaN,0.0,0.97901,0.000,0.00,0.000,0.0,0.0,0.0,NaN,production
3,10-Apr-14,15/9-F-1 C,0.0,NaN,NaN,NaN,0.0,0.54576,0.000,0.00,0.000,0.0,0.0,0.0,NaN,production
4,11-Apr-14,15/9-F-1 C,0.0,310.376,96.876,277.278,0.0,1.21599,33.098,10.48,33.072,0.0,0.0,0.0,NaN,production

In [4]:
data.columns

Index(['DATEPRD', 'NPD_WELL_BORE_NAME', 'ON_STREAM_HRS',
       'AVG_DOWNHOLE_PRESSURE', 'AVG_DOWNHOLE_TEMPERATURE', 'AVG_DP_TUBING',
       'AVG_ANNULUS_PRESS', 'AVG_CHOKE_SIZE_P', 'AVG_WHP_P', 'AVG_WHT_P',
       'DP_CHOKE_SIZE', 'BORE_OIL_VOL', 'BORE_GAS_VOL', 'BORE_WAT_VOL',
       'BORE_WI_VOL', 'FLOW_KIND'],
      dtype='object')

In [32]:
data['NPD_WELL_BORE_NAME'].unique()

array(['15/9-F-1 C', '15/9-F-11', '15/9-F-12', '15/9-F-14', '15/9-F-15 D',
       '15/9-F-4', '15/9-F-5'], dtype=object)

In [41]:
# Select well 15/9-F-14 (Don't forget to reset index)
data = data[data["NPD_WELL_BORE_NAME"]=="15/9-F-14"].reset_index()

data.head()

,level_0,index,DATEPRD,NPD_WELL_BORE_NAME,ON_STREAM_HRS,AVG_DOWNHOLE_PRESSURE,AVG_DOWNHOLE_TEMPERATURE,AVG_DP_TUBING,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,BORE_OIL_VOL,BORE_GAS_VOL,BORE_WAT_VOL,BORE_WI_VOL,FLOW_KIND
0,0,4967,12-Feb-08,15/9-F-14,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.059,0.0,0.0,0.0,NaN,production
1,1,4968,13-Feb-08,15/9-F-14,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.068,0.0,0.0,0.0,NaN,production
2,2,4969,14-Feb-08,15/9-F-14,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.050,0.0,0.0,0.0,NaN,production
3,3,4970,15-Feb-08,15/9-F-14,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.066,0.0,0.0,0.0,NaN,production
4,4,4971,16-Feb-08,15/9-F-14,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.105,0.0,0.0,0.0,NaN,production

In [47]:
data = data[['BORE_GAS_VOL', 'BORE_OIL_VOL']]
data.head()

   BORE_GAS_VOL  BORE_OIL_VOL
0           0.0           0.0
1           0.0           0.0
2           0.0           0.0
3           0.0           0.0
4           0.0           0.0

In [50]:
data.isna().sum()

BORE_GAS_VOL    0
BORE_OIL_VOL    0
dtype: int64

In [52]:
# split the data into features and target
X = data[['BORE_GAS_VOL']]
y = data['BORE_OIL_VOL']

# split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the model
gb = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=4)

# fit the model on the training data
gb.fit(X_train, y_train)

# make predictions on the testing data
y_pred = gb.predict(X_test)

# evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Absolute Error: ", mae)
print("Mean Squared Error: ", mse)
print("R^2 Score: ", r2)

Mean Absolute Error:  31.74917216593406
Mean Squared Error:  3179.6843352241217
R^2 Score:  0.9981875185881073